/*white*/
/*gold*/
body {
  margin: 0;
  font-size: 16px;
  font-family: "EB Garamond", serif;
}

.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url(https://images.unsplash.com/photo-1597664607810-e59e0318e775?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.golden h4 {
  color: #f6b93b;
  font-style: italic;
  font-family: "Carattere", cursive;
  font-size: 40px;
}

.navigation {
  margin-top: 30px;
}

.menu a {
  color: #ffffff;
  margin-right: 50px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

.page-intro {
  margin: auto;
  text-align: center;
}

.page-intro h2 {
  margin: 12px 0 12px 0;
  font-weight: normal;
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
  font-family: "EB Garamond", serif;
}

.page-intro h1 {
  margin: 0;
  font-weight: normal;
  color: #ffffff;
  font-size: 70px;
  font-family: "Lato", sans-serif;
}

.btn {
  margin: 40px 0;
  padding: 20px 40px 20px 40px;
  font-size: 18px;
  background-color: #f6b93b;
  color: #ffffff;
  border-radius: 7px;
  font-family: "Lato", sans-serif;
}

.container {
  padding: 80px 30px;
  display: flex;
  flex-wrap: wrap;
}

.wraper {
  text-align: center;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
}

.wraper p {
  font-family: "EB Garamond", serif;
  color: #778ca3;
}

.services {
  background-color: #ffffff;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.box-services {
  flex: 0 0 33.333%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #778ca3;
  display: flex;
  flex-wrap: wrap;
}

.box-services p:first-of-type {
  font-weight: bold;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;
}

.information {
  padding: 0 15px;
}

.icon {
  background-color: #ffffff;
  height: 60px;
  width: 60px;
  border: 4px solid;
  border-color: #f6b93b;
  border-radius: 50px;
  align-items: center;
  margin-bottom: 30px;
}

.icon i {
  font-size: 30px;
  color: #f6b93b;
  align-items: center;
  padding: 8px;
}

.portfolio {
  background-color: #f1f2f6;
}

.portfolio-box img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}

.portfolio-box {
  background-color: #ffffff;
  margin-bottom: 40px;
}

.description {
  padding: 15px 0;
  text-align: center;
}

.description h5 {
  font-family: "Lato", sans-serif;
}

.description p {
  font-family: "EB Garamond", serif;
  font-style: italic;
  color: #778ca3;
}

.footer .container {
  padding: 15px 30px;
}

.footer-box1 {
  align-items: left;
  color: #778ca3;
}

.media {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.footer-box2 li {
  display: inline-block;
  font-size: 0;
  background-color: black;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin-right: 13px;
}

.footer-box2 i {
  font-size: 20px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .menu a {
    margin-right: 15px;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu a {
    margin-right: 15px;
    font-size: 12px;
  }
  .container {
    flex-direction: column;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBb0IsUUFBQTtBQUNDLE9BQUE7QUFPckI7RUFDSSxTQUFTO0VBQ1QsZUFBZTtFQUNmLGlDQU40QjtBQ0NoQzs7QURTQTtFQUNJLGtCQUFrQjtFQUNsQixhQUFhO0VBQ2Isc0JBQXNCO0VBQ3RCLGVBQWU7RUFDZixvTEFBbUw7RUFDbkwsNEJBQTRCO0VBQzVCLHNCQUFzQjtFQUN0QixrQ0FBa0M7RUFDbEMsNEJBQTRCO0VBQzVCLGFBQWE7QUNOakI7O0FEUUE7RUFDSSxjQTNCZTtFQTRCZixrQkFBa0I7RUFDbEIsaUNBeEJrQztFQXlCbEMsZUFBZTtBQ0xuQjs7QURPQTtFQUNJLGdCQUFnQjtBQ0pwQjs7QURNQTtFQUNJLGNBckNjO0VBc0NkLGtCQUFrQjtFQUNsQiwrQkFuQzJCO0VBb0MzQixvQkFBb0I7RUFDcEIsZUFBZTtBQ0huQjs7QURNQTtFQUNJLFlBQVk7RUFDWixrQkFBa0I7QUNIdEI7O0FES0E7RUFDSSxxQkFBcUI7RUFDckIsbUJBQW1CO0VBQ25CLGNBbkRjO0VBb0RkLGVBQWM7RUFDZCxrQkFBaUI7RUFDakIsaUNBakQ0QjtBQytDaEM7O0FESUE7RUFDSSxTQUFTO0VBQ1QsbUJBQW1CO0VBQ25CLGNBM0RjO0VBNERkLGVBQWM7RUFDZCwrQkF6RDJCO0FDd0QvQjs7QURHQTtFQUNJLGNBQWE7RUFDYiw0QkFBNEI7RUFDNUIsZUFBZTtFQUNmLHlCQWxFZTtFQW1FZixjQXBFYztFQXFFZCxrQkFBa0I7RUFDbEIsK0JBbEUyQjtBQ2tFL0I7O0FERUU7RUFDRSxrQkFBa0I7RUFDbEIsYUFBYTtFQUNiLGVBQWU7QUNDbkI7O0FEQ0U7RUFDRSxrQkFBa0I7RUFDbEIsb0JBQW9CO0VBQ3BCLCtCQTVFMkI7QUM4RS9COztBREFFO0VBQ0UsaUNBOUU0QjtFQStFNUIsY0FsRmdCO0FDcUZwQjs7QURERTtFQUNFLHlCQXZGYztBQzJGbEI7O0FERkU7RUFDRSxhQUFhO0VBQ2IsZUFBZTtFQUNmLDhCQUE2QjtFQUM3QixrQkFBaUI7QUNLckI7O0FESEE7RUFDSSxpQkFBaUI7RUFDakIsa0JBQWtCO0VBQ2xCLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsbUJBQW1CO0VBQ25CLGtCQUFrQjtFQUNsQixjQXBHZ0I7RUFxR2hCLGFBQWE7RUFDYixlQUFlO0FDTW5COztBREhBO0VBQ0ksaUJBQWlCO0VBQ2pCLGtCQUFrQjtFQUNsQiwrQkExRzJCO0VBMkczQixZQUFZO0FDTWhCOztBREpBO0VBQ0ksZUFBZTtBQ09uQjs7QURKQTtFQUNJLHlCQXRIYztFQXVIakIsWUFBWTtFQUNaLFdBQVc7RUFDUixpQkFBaUI7RUFDakIscUJBekhlO0VBMEhsQixtQkFBbUI7RUFDbkIsbUJBQW1CO0VBQ2hCLG1CQUFtQjtBQ092Qjs7QURMQTtFQUNJLGVBQWU7RUFDZixjQWhJZTtFQWlJZixtQkFBbUI7RUFDdEIsWUFBWTtBQ1FiOztBRExBO0VBQ0kseUJBQXlCO0FDUTdCOztBRE5BO0VBQ0ksV0FBVztFQUNYLGFBQWE7RUFDYixvQkFBaUI7S0FBakIsaUJBQWlCO0VBQ2pCLG1CQUFtQjtBQ1N2Qjs7QURQQTtFQUNJLHlCQWhKYztFQWlKZCxtQkFBbUI7QUNVdkI7O0FEUkE7RUFDSSxlQUFlO0VBQ2Ysa0JBQWtCO0FDV3RCOztBRFRBO0VBQ0ksK0JBcEoyQjtBQ2dLL0I7O0FEVkE7RUFDSSxpQ0F0SjRCO0VBdUo1QixrQkFBa0I7RUFDbEIsY0EzSmdCO0FDd0twQjs7QURYQTtFQUNJLGtCQUFrQjtBQ2N0Qjs7QURYQTtFQUNJLGlCQUFpQjtFQUNqQixjQW5LZ0I7QUNpTHBCOztBRFpBO0VBQ0ksU0FBUztFQUNULFVBQVU7RUFDVixxQkFBcUI7RUFDckIsYUFBYTtFQUNiLHVCQUF1QjtBQ2UzQjs7QURiQTtFQUNJLHFCQUFxQjtFQUNyQixZQUFZO0VBQ2YsdUJBQXVCO0VBQ3ZCLFlBQVk7RUFDWixXQUFXO0VBQ1gsbUJBQW1CO0VBQ25CLGtCQUFrQjtFQUNsQixhQUFhO0VBQ2Isa0JBQWtCO0FDZ0JuQjs7QURkQTtFQUNJLGVBQWU7RUFDZixjQTNMYztBQzRNbEI7O0FEZkE7RUFDSTtJQUNJLHNCQUFzQjtFQ2tCNUI7RURmRTtJQUNJLGtCQUFrQjtJQUNsQixlQUFlO0VDaUJyQjtBQUNGOztBRGZBO0VBQ0k7SUFDSSxrQkFBa0I7SUFDbEIsZUFBZTtFQ2tCckI7RURoQkU7SUFDSSxzQkFBc0I7RUNrQjVCO0FBQ0YiLCJmaWxlIjoic3R5bGUuY3NzIn0= */