$color-one:#ffffff; /*white*/
$color-two: #f6b93b; /*gold*/
$color-three:#778ca3; 

$font-header:'Lato', sans-serif;
$font-text: 'EB Garamond', serif;
$font-decorative: 'Carattere', cursive;

body {
    margin: 0;
    font-size: 16px;
    font-family: $font-text;
}


.splash {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    background-image:url(https://images.unsplash.com/photo-1597664607810-e59e0318e775?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}
.golden h4 {
    color: $color-two;
    font-style: italic;
    font-family: $font-decorative;
    font-size: 40px;
}
.navigation {
    margin-top: 30px;
}
.menu a {
    color: $color-one;
    margin-right: 50px;
    font-family: $font-header; 
    font-weight: lighter;
    font-size: 15px;
}

.page-intro {
    margin: auto;
    text-align: center;
    }
.page-intro h2 {
    margin: 12px 0 12px 0;
    font-weight: normal;
    color: $color-one;
    font-size:40px;
    font-style:italic;
    font-family: $font-text;     
}
.page-intro h1 {
    margin: 0;
    font-weight: normal;
    color: $color-one;
    font-size:70px;
    font-family: $font-header;
}
.btn {
    margin:40px 0;
    padding: 20px 40px 20px 40px;
    font-size: 18px;
    background-color:$color-two;
    color: $color-one;
    border-radius: 7px;
    font-family: $font-header;
  }
  .container {
    padding: 80px 30px;
  }
  .wraper {
    text-align: center;
    padding-bottom: 30px;
    font-family: $font-header;
  }
  .wraper p {
    font-family: $font-text;
    color:$color-three;
  }
  .services {
    background-color:$color-one;
  }
  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    position:relative;   
}
.box-services {
    flex: 0 0 33.333%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:$color-three;
    display: flex;
    flex-wrap: wrap;
    
}
.box-services p:first-of-type {
    font-weight: bold;
    text-align: center;
    font-family: $font-header;
    color: black;
}
.information {
    padding: 0 15px;

}
.icon {
    background-color: $color-one;
	height: 60px;
	width: 60px;
    border: 4px solid;
    border-color: $color-two;
	border-radius: 50px;
	align-items: center;
    margin-bottom: 30px;
}
.icon i {
    font-size: 30px;
    color: $color-two;
    align-items: center;
	padding: 8px;
    
}
.portfolio {
    background-color:#f1f2f6 ;
}
.portfolio-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}
.portfolio-box {
    background-color: $color-one; 
    margin-bottom: 40px;   
}
.description {
    padding: 15px 0;
    text-align: center;
}
.description h5 {
    font-family: $font-header;
}
.description p {
    font-family: $font-text;
    font-style: italic;
    color:$color-three;
}
.footer .container {
    padding: 15px 30px; 
   
}
.footer-box1 {
    align-items: left;
    color:$color-three;
}
.media {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.footer-box2 li {
    display: inline-block; 
    font-size: 0;
	background-color: black;
	height: 40px;
	width: 40px;
	border-radius: 50px;
	text-align: center;
	padding: 10px;
	margin-right: 13px;
}
.footer-box2 i {
    font-size: 20px;
    color: $color-one;
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;   
    }
    
    .menu a {
        margin-right: 15px;
        font-size: 12px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .menu a {
        margin-right: 15px;
        font-size: 12px;
}
    .container {
        flex-direction: column;
}
}