/*white*/
/*gold*/
body {
  margin: 0;
  font-size: 16px;
  font-family: "EB Garamond", serif;
}

.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url(https://images.unsplash.com/photo-1597664607810-e59e0318e775?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.golden h4 {
  color: #f6b93b;
  font-style: italic;
  font-family: "Carattere", cursive;
  font-size: 40px;
}

.navigation {
  margin-top: 30px;
}

.menu a {
  color: #ffffff;
  margin-right: 50px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

.page-intro {
  margin: auto;
  text-align: center;
}

.page-intro h2 {
  margin: 12px 0 12px 0;
  font-weight: normal;
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
  font-family: "EB Garamond", serif;
}

.page-intro h1 {
  margin: 0;
  font-weight: normal;
  color: #ffffff;
  font-size: 70px;
  font-family: "Lato", sans-serif;
}

.btn {
  margin: 40px 0;
  padding: 20px 40px 20px 40px;
  font-size: 18px;
  background-color: #f6b93b;
  color: #ffffff;
  border-radius: 7px;
  font-family: "Lato", sans-serif;
}

.container {
  padding: 80px 30px;
  display: flex;
  flex-wrap: wrap;
}

.wraper {
  text-align: center;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
}

.wraper p {
  font-family: "EB Garamond", serif;
  color: #778ca3;
}

.services {
  background-color: #ffffff;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.box-services {
  flex: 0 0 33.333%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #778ca3;
  display: flex;
  flex-wrap: wrap;
}

.box-services p:first-of-type {
  font-weight: bold;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;
}

.information {
  padding: 0 15px;
}

.icon {
  background-color: #ffffff;
  height: 60px;
  width: 60px;
  border: 4px solid;
  border-color: #f6b93b;
  border-radius: 50px;
  align-items: center;
  margin-bottom: 30px;
}

.icon i {
  font-size: 30px;
  color: #f6b93b;
  align-items: center;
  padding: 8px;
}

.portfolio {
  background-color: #f1f2f6;
}

.portfolio-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

.portfolio-box {
  background-color: #ffffff;
  margin-bottom: 40px;
}

.description {
  padding: 15px 0;
  text-align: center;
}

.description h5 {
  font-family: "Lato", sans-serif;
}

.description p {
  font-family: "EB Garamond", serif;
  font-style: italic;
  color: #778ca3;
}

.footer .container {
  padding: 15px 30px;
}

.footer-box1 {
  align-items: left;
  color: #778ca3;
}

.media {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.footer-box2 li {
  display: inline-block;
  font-size: 0;
  background-color: black;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin-right: 13px;
}

.footer-box2 i {
  font-size: 20px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .menu a {
    margin-right: 15px;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu a {
    margin-right: 15px;
    font-size: 12px;
  }
  .container {
    flex-direction: column;
  }
}
